:root {
	--text-color: #FAFAFA;
	--background-color: #212121;

	/* Color palette for items */
	--color-1: #F8B195;
	--color-2: #F67280;
	--color-3: #C06C84;
	--color-4: #87D9BF;
	--color-5: #E53B60;
	--color-6: #CCDAD1;
}

@font-face {
	font-family: 'Vegan';
	src: url(Vegan.ttf);
}

@font-face {
	font-family: 'Roboto Mono';
	src: url(RobotoMono-Medium.ttf);
}

body {
	background-image: linear-gradient(to top, #eb3349 0%, #f45c43 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	font-family: 'Roboto Mono', monospace;
}

#greeting {
	font-size: 90px;
	position: absolute;
	top: 10%;
	font-family: 'Vegan';
	font-weight: 500;
	user-select: none;
	-moz-user-select: none;
	color: var(--background-color);
}

#app-block {
	display: grid;
	grid-template-columns: auto 200px;
	user-select: none;
	-moz-user-select: none;
}

#app-menu {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	grid-row: 1;
	grid-column: 1;
	margin: 0;
	font-size: 30px;
	color: var(--text-color);
	background-color: var(--background-color);
	border-radius: 10px 0 0 10px;
}

.entry {
	padding-right: 20px;
	background-color: var(--background-color);
}

#default-pane {
	background-color: var(--background-color);
	grid-column: 2;
	grid-row: 1;
	width: 210px;
	border-radius: 0 10px 10px 0;
}

.items {
	color: transparent;
	font-size: 30px;
	/* display: none; */
	grid-row: 1;
	grid-column: 2;
	padding-left: 0;
	padding-top: 10px;
	width: 0;
	transition: width 0.05s;
	/* transition: padding-left 0.1s; */
	overflow: hidden;
	border-radius: 0 10px 10px 0;
}

a {
	text-decoration: none;
	color: inherit;
}

#education-items {
	background-color: var(--color-1);
}

#communication-items {
	background-color: var(--color-2);
}

#entertainment-items {
	background-color: var(--color-3);
}

#programming-items {
	background-color: var(--color-4);
}

#work-items {
	background-color: var(--color-5);
}

#misc-items {
	background-color: var(--color-6);
}

@media screen and (max-height: 700px) {
	#greeting {
		top: -20px;
	}
}